@charset "utf-8";

.IntroHeader{
    display: block;
    color: #1d3c83;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bolder;
    /*margin-bottom: 10px;*/
}
.IntroText {
    font-size: 0.85em;
    display: block;
    /*margin-top: 5px;
    line-height: 15px;*/
}

.BottomTextHeader{
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bolder;
}

.droppable {
    width: 40px;
    height: 40px;
    float: left;
    margin: 5px;
}

.draggable {
    width: 40px;
    height: 40px;
    float: left;
    overflow: hidden;
}

.AnswerHeader {
    display: inline-block;
    font-weight: bolder;
    float: left;
}
.answerBox {
    width: 40px;
    height: 40px;
    /*background-color: black;*/
    float: left;
    margin: 0px 5px 0px 5px;/*top right bottom left*/
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#container {
    height: 400px;
    width: 700px;
    margin: 100px 100px 100px 100px;/*top right bottom left*/
    padding: 20px 20px 20px 20px;/*top right bottom left*/
    background-color: rgba(255, 255, 255, 0.3);
}

#bottombuttonWrap {
    display: block;
    padding: 0px 0px 0px 300px;/*top right bottom left*/
}



/*colourScheme css*/
.colourSchemeIntro {
    padding: 40px 0px 0px 40px;/*top right bottom left*/
}

#colourSchemeContainerA {
    height: 70%;
    margin: 0px 0px 20px 0px;/*top right bottom left*/
    background-color: rgba(135, 197, 185, 0.4);
}
#colourSchemeContainerB {
    height: 20%;
    background-color: rgba(135, 197, 185, 0.4);
}

#colourSchemedroppableWrap {
    margin: auto;
    width: 60%;
    padding: 10px 10px 10px 10px;/*top right bottom left*/
    /*float: left;*/
}

#colourSchemeswatchesWrap {
    margin: auto;
    width: 60%;
    padding: 20px 10px 10px 10px;/*top right bottom left*/
}

.colourSchemeswatches {
    margin: 0px 5px 0px 5px;/*top right bottom left*/
}

#colourSchemeAnswerWrap {
    margin: auto;
    width: 60%;
    padding: 10px 10px 10px 100px;/*top right bottom left*/
    float: left;
}
/*End of colourScheme css*/



/*colourKeys css*/
.colourKeysIntro {
    display: inline-block;
    width: 50%;
    height: 80%;
    padding: 5px 0px 0px 10px;/*top right bottom left*/
}

#colourKeysContainerA {
    height: 90%;
    margin: 0px 0px 20px 0px;/*top right bottom left*/
    background-color: rgba(135, 197, 185, 0.4);
}

#colourKeysImgWrap {
    width: 80%;
    height: 80%;
}

.colorKeysdroppableWrapDefault {
    padding: 0px 0px 0px 10px;/*top right bottom left*/
    float: left;
}
.colourKeysAnswerChangePosition {
    width: 40%;
    float: right;
    /*position: relative;*/
    padding: 50px 10px 0px 0px;/*top right bottom left*/
}
.colourKeysRightAnswerPosition {
    float: left;
    padding: 5px 0px 0px 0px;/*top right bottom left*/
}

#colorKeysswatchesWrap {
    width: 30%;
    height: 70%;
    padding: 20px 0px 0px 0px;/*top right bottom left*/
    float: right;
}
/*End of colourKeys css*/



/*colourPicking css*/
#colourPickingContainerA {
    height: 90%;
    margin: 0px 0px 20px 0px;/*top right bottom left*/
    background-color: rgba(135, 197, 185, 0.4);
}

#colourPickingImgWrap {
    margin: 20px 0px 0px 5px;/*top right bottom left*/
    width: 20%;
    display: inline;
    float: left;
}

#colourPickingCenterContainer{
    margin: 20px 0px 0px 15px;/*top right bottom left*/
    width: 48%;
    display: inline;
    float: left;
}

.colourPickingdroppableWrapDefault{
    display: inline-block;
}

#colourPickingswatchesWrap{
    margin: 20px 0px 0px 0px;/*top right bottom left*/
    width: 26%;
    display: inline;
    float: right;
}

#colourPickingBottomTextWrap{
    margin: 40px 0px 0px 0px;/*top right bottom left*/
    /*float: left;*/
    display: inline-block;
}
/*End of colourPicking css*/