@charset "utf-8";

.IntroHeader{
    display: block;
    color: #1d3c83;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.IntroText {
    font-size: 0.85em;
    display: block;
    /*margin-top: 5px;
    line-height: 15px;*/
}

.droppable {
    width: 40px;
    height: 40px;
    float: left;
    margin: 5px;
}

.draggable {
    width: 40px;
    height: 40px;
    float: left;
    overflow: hidden;
}

.AnswerHeader {
    font-weight: bolder;
    float: left;
}
.answerBox {
    width: 40px;
    height: 40px;
    /*background-color: black;*/
    float: left;
    margin: 0px 5px 0px 5px;/*top right bottom left*/
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#container {
    height: 100%;
    padding: 20px 20px 20px 20px;/*top right bottom left*/
    background-color: #D3D3D3;/*light grey*/
}



/*colourScheme css*/
.colourSchemeIntro {
    padding: 40px 0px 0px 40px;/*top right bottom left*/
}

#colourSchemeContainerA {
    height: 60%;
    margin: 0px 0px 20px 0px;/*top right bottom left*/
    background-color: #FFFFFF;
}
#colourSchemeContainerB {
    height: 20%;
    background-color: #FFFFFF;
}

#colourSchemedroppableWrap {
    margin: auto;
    width: 60%;
    padding: 10px 10px 10px 10px;/*top right bottom left*/
    /*float: left;*/
}

#colourSchemeswatchesWrap {
    margin: auto;
    width: 60%;
    padding: 40px 10px 10px 10px;/*top right bottom left*/
}

.colourSchemeswatches {
    margin: 0px 5px 0px 5px;/*top right bottom left*/
}

#colourSchemebuttonWrap {
    display: block;
    padding: 20px 0px 0px 300px;/*top right bottom left*/
}

#colourSchemeAnswerWrap {
    margin: auto;
    width: 60%;
    padding: 10px 10px 10px 100px;/*top right bottom left*/
    float: left;
}
/*End of colourScheme css*/



/*colourKeys css*/
.colourKeysIntro {
    display: inline-block;
    width: 60%;
    height: 70%;
    padding: 40px 0px 0px 40px;/*top right bottom left*/
}

#colourKeysContainerA {
    height: 80%;
    margin: 0px 0px 20px 0px;/*top right bottom left*/
    background-color: #FFFFFF;
}

#colourKeysImgWrap {
    width: 80%;
    height: 80%;
}

.colorKeysdroppableWrapDefault {
    padding: 0px 0px 0px 40px;/*top right bottom left*/
    float: left;
}
.colourKeysAnswerChangePosition {
    float: right;
    padding: 120px 20px 0px 0px;/*top right bottom left*/
}
.colourKeysRightAnswerPosition {
    float: right;
    padding: 10px 20px 0px 0px;/*top right bottom left*/
}

#colorKeysswatchesWrap {
    width: 20%;
    height: 70%;
    padding: 100px 0px 0px 0px;/*top right bottom left*/
    float: right;
}

#colorKeysbuttonWrap {
    display: block;
    padding: 20px 0px 0px 400px;/*top right bottom left*/
}
/*End of colourKeys css*/